/*Elements de base*/
:root {
  margin: auto;
}

body {
  margin: 0;
  font-family: "Roboto";
}

/*Header page d'accueil*/
.logo_home_page {
  font-family: "Shrikhand";
  font-size: 150%;
  text-align: center;
  margin-top: 0;
  padding-top: 15px;
  margin-bottom: 8px;
}

.fa-solid.fa-location-dot {
  margin: 0px 5px 0px 5px;
}



/*Localisation*/

.localisation_section {
  text-align: center;
  background-color: #eaeaea;
  border-top: solid #d0d0d0 3px;
  padding-bottom: 10px;
}

.fa-solid.fa-location-dot {
  padding: 0px 10px 0px 0px;
}

.localisation {
  color: #454545;
  font-weight: bold;
  margin: 10px 0px 6px 0px;
}

/*Reservation*/

.reservation_section {
  background-color: #f6f6f6;
  padding: 35px 0px 70px 0px;
}

.text_top_one {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin: 0px 70px 0px 70px;
  background-color: #f6f6f6;
}

.text_top_two {
  font-size: 16px;
  text-align: center;
  margin: 10px 10px 50px 10px;
}

.explore {
  text-align: center;
  &_conteneur {
    text-align: center;
  }
  &_link {
    border-radius: 60px;
    text-decoration: none;
    color: white;
    border: transparent;
    padding: 15px 20px 15px 20px;
    background-image: linear-gradient(to left top, #9356dc, #ff79da);
  }
}

/*Fonctionnement*/

.fonction {
  display: block;
  align-items: center;
  padding-bottom: 30px;

  &_title {
    font-family: "Roboto";
    font-size: 22px;
    font-weight: bold;
    margin: 40px 20px 30px 40px;
  }

  &_button {
    border: 2px solid transparent;
    border-radius: 20px;
    align-items: center;
    display: flex;
    cursor: pointer;
    transition-duration: 0.2s;
    background-color: #f6f6f6;
    font-family: inherit;
    box-shadow: 0 0 16px #0000002e;
    margin: 3px auto 20px auto;
    width: 80%;

    & i {
      height: 38px;
      width: 38px;
      display: flex;
      align-items: center;
      justify-content: center;
      right: 3px;
      color: #777777;
      margin: 10px 0px 10px 0px;
    }

    &:hover,
    &:focus {
      background-color: #f5edff;

      & i {
        color: purple;
      }
    }
  }

  &_text {
    margin: 20px 20px 20px 10px;
    font-weight: bold;
    color: black;
  }
}

.circle_number {
  background-color: #9356dc;
  border-radius: 50%;
  color: white;
  display: inline-block;
  height: 22px;
  width: 22px;
  text-align: center;
  line-height: 22px;
  position: relative;
  left: -15px;
  flex-shrink: 0;
}

/*Cartes*/

.rest {
  font-family: "Roboto";
  font-size: 22px;
  font-weight: bold;
  margin: 40px 20px 30px 40px;

  &_bg {
    background-color: #f6f6f6;
    padding: 10px 0px 30px 0px;
  }


  &_list {
    margin: 0px 30px 20px 30px;

    img {
      width: 100%;
      height: 170px;
      border-radius: 25px 25px 0px 0px;
      object-fit: cover;
    }
  }

  &_link {
    color: black;
    text-decoration: none;
  }

  &_art {
    border-radius: 25px;
    box-shadow: 0 0 16px #0000002e;
    display: flex;
    flex-direction: column;
  }

  &_content {
    padding: 10px 10px 0px 10px;
    display: flex;
    flex-direction: column;
    height: 70px;
  }

  &_top_p {
    margin: 3px;
    font-size: 17px;
    font-weight: bold;
    margin-left: 5px;
  }

  &_bot_p {
    margin-top: 5px;
    margin-left: 5px;
    font-size: 16px;
  }
}


/*label*/

.label {
  display: inline-block;
  position: relative;
}

.label_text {
  background: #99e2d0;
  z-index: 1;
  position: absolute;
  text-align: center;
  font-family: "Roboto";
  font-size: 16px;
  margin: 0 auto;
  font-weight: bold;
  top: 12%;
  color: #169375;
  width: 25%;
  right: 4%;
  padding: 8px 5px 8px 5px;
  border-radius: 5%;
}

